:root {
  --first-bgcolor: #EFF2F7;
  --second-bgcolor: #C8D4E7;
  --third-bgcolor: #C1E5FC;
  --main_first-color: #FCE972;
  --main_second-color: #5FBBF8;
  --text_color: #60A5F5;

  font-family: GilroyRegular;
}

@font-face {
    font-family: GilroyRegular;
    src: url(../fonts/gilroy-regular.ttf);
}

@font-face {
  font-family: Hisqaida;
  src: url(../fonts/Hisqaida2018.ttf);
}